<!-- Banner
================================================== -->
<div id="banner" class="with-transparent-header parallax background" style="background-image: url(../../assets/images/banner-home-02.jpg)" data-img-width="2000" data-img-height="1330" data-diff="300">
  <div class="container">
    <div class="sixteen columns">

      <div class="search-container">

        <!-- Form -->
        <h2>Find job</h2>
        <input type="text" class="ico-01" placeholder="job title, keywords or company name" value="" />
        <input type="text" class="ico-02" placeholder="city, province or region" value="" />
        <button><i class="fa fa-search"></i></button>

        <!-- Browse Jobs -->
        <div class="browse-jobs">
          Browse job offers by <a href="browse-categories.html"> category</a> or <a href="#">location</a>
        </div>

        <!-- Announce -->
        <div class="announce">
          We’ve over <strong>15 000</strong> job offers for you!
        </div>

      </div>

    </div>
  </div>
</div>

<!-- Categories -->
<div class="container">
  <div class="sixteen columns">
    <h3 class="margin-bottom-25">Popular Categories</h3>
    <ul id="popular-categories">
      <li><a href="#"><i class="ln  ln-icon-Bar-Chart"></i> Accounting / Finance</a></li>
      <li><a href="#"><i class="ln ln-icon-Car"></i> Automotive Jobs</a></li>
      <li><a href="#"><i class="ln ln-icon-Worker"></i> Construction / Facilities</a></li>
      <li><a href="#"><i class="ln ln-icon-Student-Female"></i> Education Training</a></li>
      <li><a href="#"><i class="ln  ln-icon-Medical-Sign"></i> Healthcare</a></li>
      <li><a href="#"><i class="ln  ln-icon-Plates"></i> Restaurant / Food Service</a></li>
      <li><a href="#"><i class="ln  ln-icon-Globe"></i> Transportation / Logistics</a></li>
      <li><a href="#"><i class="ln  ln-icon-Laptop-3"></i> Telecommunications</a></li>
    </ul>

    <div class="clearfix"></div>
    <div class="margin-top-30"></div>

    <a href="browse-categories.html" class="button centered">Browse All Categories</a>
    <div class="margin-bottom-50"></div>
  </div>
</div>
