<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 header-backgroud"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Job Management</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }" *ngIf="!(isAdmin===true || isJobSeeker===true || isCompany===true)">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>

          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }" *ngIf="!(isAdmin===true || isJobSeeker===true || isCompany===true)">
            <a class="nav-link text-dark" [routerLink]="['/job-list']">Job List</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="isJobSeeker">
            <a class="nav-link text-dark" [routerLink]="['/counter']">Job List</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="isJobSeeker">
            <a class="nav-link text-dark" [routerLink]="['/fetch-data']">Applied job list</a>
          </li>

          <!-- Authorized only -->
          <li class="nav-item" *ngIf="isAdmin">
            <a class="nav-link text-dark" [routerLink]="['/product']">Product</a>
          </li>

          <!-- Anonymous only -->
          <li class="nav-item" *ngIf="!(isAdmin===true || isJobSeeker===true || isCompany===true)">
            <a class="nav-link text-dark" [routerLink]="['/register']">Jobseeker Registration</a>
          </li>

          <!-- Anonymous only -->
          <li class="nav-item" *ngIf="!(isAdmin===true || isJobSeeker===true || isCompany===true)">
            <a class="nav-link text-dark" [routerLink]="['/job-provider-register']">Job Provider Registration</a>
          </li>

          <!-- Anonymous only -->
          <li class="nav-item" *ngIf="!(isAdmin===true || isJobSeeker===true || isCompany===true)">
            <a class="nav-link text-dark" [routerLink]="['/login']">Login</a>
          </li>

          <!-- Admin only -->
          <li class="nav-item" *ngIf="isAdmin">
            <a class="nav-link" [routerLink]="['admin', 'dashboard']">Dashboard</a>
          </li>

          <li class="nav-item" *ngIf="isAdmin">
            <a class="nav-link" [routerLink]="['admin', 'add-job']">Add Job</a>
          </li>


          <!-- JobSeeker only -->
          <li class="nav-item" *ngIf="isJobSeeker">
            <a class="nav-link" [routerLink]="['jobseeker', 'dashboard']">Dashboard</a>
          </li>

          <!-- JobSeeker only -->
          <li class="nav-item" *ngIf="isCompany">
            <a class="nav-link" [routerLink]="['company', 'dashboard']">Dashboard</a>
          </li>

          <!-- Authorized only -->
          <li class="nav-item" *ngIf="isAdmin || isJobSeeker || isCompany">
            <a href="#" (click)="logout()" class="nav-link">Logout</a>
          </li>


        </ul>
      </div>
    </div>
  </nav>
</header>

<style>
  .header-backgroud{
    background-color:forestgreen!important;
    color:white!important;    
  }
  a{
    color:white!important;
    text-decoration:none;
  }
</style>
